/* Credits to https://css-tricks.com/snippets/css/a-guide-to-flexbox/ for the movie-table-container  */
/* I have used display, flex-direction, align-items from Examples and Related Properties and adapted it  */

.person-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

.person-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.yob-yod {
  margin-bottom: 20px;
}

.ag-theme-alpine {
  box-shadow: 0 0 5px #ccc;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 100%;
}

.imdb-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recharts-wrapper {
  margin: 50px auto;
}